
<h2>TO DO:</h2>
<ul>
    <li>Create basic layout of page</li>
    <li>Fill main page with development history
        <ul>
            <li>Make articles 10 per page</li>
            <li>Let user change per page count of articles</li>
        </ul>
    </li>
    <li>Create 404 page address
        <ul><li>Create 404 page BLANK PRISONER image</li></ul>
    </li>
    <li>Create blank prisoner/guard page
        <ul>
            <li>Create autogenerator for said page</li>
            <li>Create database of prisoners/guards
                <ul><li>Connect database to html</li></ul>
            </li>
        </ul>
    </li>
    <li>Create autogenerating prison map based on above data</li>
    <li>Create application page
        <ul>
            <li>Validate e-mails client-side</li>
            <li>Validate entries server-side</li>
        </ul>
    </li>
    <li>Add randomized flavor text for logo subtext</li>
    <li>Add a floating TO TOP button</li>
    <li>Add voting system ad on sidebar ("voted" is saved locally in a JSON)</li>
    <li>Colorize articles based on stripes of uniform</li>
    <li>Add an About Us history page as well as google location
        <ul><li>Add estimate from your location to prison</li></ul>
    </li>
    <li>Add a package.json as well as a README</li>
    <li>Apply monochromous color scheme</li>
    <li>Add proportions and spaces to beautify the text</li>
    <li>Make sure site is fully responsive</li>
    <li>Go through the list of requirements again to make sure you didn't miss anything important</li>
    <li>Add more prisoners and guards</li>
    <li>Make the code structure more conventional for ease of navigation and understanding from third parties.</li>
    <li>Make the TODO list fade out when it reaches the end</li>
</ul>