<ul>
    <li {{#if home}} class="main-nav-active" {{/if}} ><a href="/">Home</a></li>
    <li {{#if about}} class="main-nav-active" {{/if}} ><a href="/about">Why us?</a></li>
    <li {{#if team}} class="main-nav-active" {{/if}} ><a href="/team">Personnel</a></li>
    <li {{#if register}} class="main-nav-active" {{/if}} ><a href="/register">Apply now</a></li>
</ul>