<div class="about">
    <h2>{{title}}</h2>
    <p>Can't finish in time. Luckily this page was only meant to contain a few images and some flavor text, and was not meant to include a single link, not to mention something actually technologically interesting, so no big loss here, but I would have really prefered to have at least all my navigation pages filled properly.</p>
</div>