<h2>{{title}}</h2>
<p>You have been registered into the Prisson's waiting list. Please wait for a reply within the next 2 weeks. Contact us on phone if you do not recieve an answer within the promised time.</p>