<h2>{{title}}</h2>
<form id="new-article-form" action="/article" method="POST">
    <input id="new-article-title" type="text" name="title" placeholder="Article Title" maxlength="40" />
    <textarea name="content" placeholder="Article Content" form="new-article-form" ></textarea>
    <input class="button" id="form-submit" type="submit" value="Submit" />
</form>