<h2>{{title}}</h2>
<h4>Debug page. Posted content is not verified for integrity and should not be used by normal users.</h4>
<form id="new-prisoner-form" action="/add/prisoner" method="POST">
    <input id="new-prisoner-first-name" type="text" name="firstName" placeholder="Prisoner's first name" maxlength="40" />
    <input id="new-prisoner-last-name" type="text" name="lastName" placeholder="Prisoner's last name" maxlength="40" />
    <input id="new-prisoner-alias" type="text" name="alias" placeholder="Prisoner's alias (if any)" maxlength="40" />
    <input id="new-prisoner-service-duration" type="text" name="serviceDuration" placeholder="Time in service (in years)" maxlength="40" />
    <input id="new-prisoner-enrolled-date" type="text" name="serviceStart" placeholder="Date of enrollment" maxlength="40" />
    <input id="new-prisoner-image" type="text" name="image" placeholder="image path" />
    <input class="button" id="form-submit" type="submit" value="Submit" />
</form>