<form id="registration-form" action="/register">
    <script src="/js/registrationListener.js"></script>
    <input id="form-firstname" type="text" name="firstName" placeholder="Please insert your first name" />
    <p id="form-firstname-error" class="error" hidden>Invalid first name. Please introduce a valid first name to continue</p>
    <input id="form-lastname" type="text" name="lastName" placeholder="Please insert your last name" />
    <p id="form-lastname-error" class="error" hidden>Invalid last name. Please introduce a valid last name to continue</p>
    <input id="form-email" type="email" name="email" placeholder="Please insert your e-mail" />
    <p id="form-email-error" class="error" hidden>Invalid e-mail. Please introduce a valid e-mail to continue</p>
    <input id="form-felony" type="text" name="felony" placeholder="Please insert the crime you are sentenced for" />
    <p id="form-felony-error" class="error" hidden>Invalid felony. Please introduce a valid felony to continue</p>
    <input class="button" id="form-submit" type="submit" value="Apply Now!" />
</form>